## Data Science with Python Pandas

## Exploring Series

In [3]:
import pandas as pd
import numpy as np

In [5]:
# Create a series
pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a    0.175560
b   -0.262684
c   -0.858248
d   -1.421180
e   -0.046875
dtype: float64

In [6]:
# Preserve the series is variable a for later access
s = pd.Series(np.random.randn(5))
print(s)

0   -0.276743
1   -0.887580
2    0.625054
3    0.507132
4   -0.238673
dtype: float64

In [7]:
# Index
print(s[0])
print("\n")
print(s[:3])

-0.276742999608


0   -0.276743
1   -0.887580
2    0.625054
dtype: float64

In [10]:
# Create a DataFrame
df = pd.DataFrame(s, columns = ['Coluna 1'])
df

   Coluna 1
0 -0.276743
1 -0.887580
2  0.625054
3  0.507132
4 -0.238673

In [11]:
# Easy to add columns
df['Coluna 2'] = df['Coluna 1']*4

In [12]:
df

   Coluna 1  Coluna 2
0 -0.276743 -1.106972
1 -0.887580 -3.550321
2  0.625054  2.500216
3  0.507132  2.028528
4 -0.238673 -0.954691

In [14]:
# Sort values = descendente
df.sort_values(by = 'Coluna 2')

   Coluna 1  Coluna 2
1 -0.887580 -3.550321
0 -0.276743 -1.106972
4 -0.238673 -0.954691
3  0.507132  2.028528
2  0.625054  2.500216

In [18]:
# Boolean indexing 
df[df['Coluna 2'] <= 2]

   Coluna 1  Coluna 2
0 -0.276743 -1.106972
1 -0.887580 -3.550321
4 -0.238673 -0.954691

In [19]:
df.describe()

       Coluna 1  Coluna 2
count  5.000000  5.000000
mean  -0.054162 -0.216648
std    0.623410  2.493638
min   -0.887580 -3.550321
25%   -0.276743 -1.106972
50%   -0.238673 -0.954691
75%    0.507132  2.028528
max    0.625054  2.500216